html {
    height:100%;
}
body{
    background-color: rgb(74, 71, 71);
    height: 100%;
    width: 100%;
}
.game{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.panel{
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 640px;
}
.square{
   /* width: 10px;
    height: 10px; */
    background-color: aquamarine;
}
.square:hover{
    background-color: yellowgreen;
}
.row{
    display: flex;
}
.hover {
    background-color: hotpink;
}